.card-spec{
    opacity: .8;
    background: linear-gradient(to right,rgb(161, 193, 201),white);
}
.card-icon-spec{
    background: linear-gradient(to right,red,green);
}
.valid{
    background: linear-gradient(to right,rgb(172, 172, 34),rgb(4, 253, 4));
}
.chart-spec{
    margin-top: 50px;
}