<div class="row">
    <div class="col-md-3">
        <div class="card card-spec">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="card-title text-muted text-center">TOTAL </h5>
                        <span class="font-weight-bold">1000</span><span>/Day</span>

                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <i class="fab fa-accusoft fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-spec">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="card-title text-muted text-center">MALE</h5>
                        <span class="font-weight-bold">1000</span><span>/Day</span>

                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <i class="fas fa-mars-stroke fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-spec">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="card-title text-muted text-center">FEMALE</h5>
                        <span class="font-weight-bold">1000</span><span>/Day</span>

                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <i class="fas fa-venus fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-spec valid">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="card-title text-muted text-center">VALID</h5>
                        <span class="font-weight-bold">1000</span><span>/day</span>

                    </div>
                    <div class="col-md-4">
                        <div class="">
                            <i class="fas fas fa-check fa-3x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="chart-spec">
    <app-charts></app-charts>
</div>
<div class="row mt-5">
    <div class="col-md-6">
        <div class="card  bg-primary rounded">
            <div class="card-body">
                <h5 class=" card-title text-center ">Assistant State</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col text-center">ID</th>
                            <th scope="col text-center">Assistant Name</th>
                            <th scope="col text-center">Affected</th>
                            <th scope="col text-center">Treated</th>
                            <th scope="col text-center">State</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    
</div>
</div>
    
