.line-chart-spec{
    height: 350px;
}
.bg-chart{
    background: linear-gradient(35deg,rgb(15, 14, 14),rgb(46, 43, 43));
}
.radar-chart-spec{
    height: 350px;
}
.chart-row-spec{
    margin-top:30px;
}