.sidebar{
    padding: 0px 0 0 0 ;
    //background:linear-gradient(120deg,rgb(209, 66, 66),rgb(231, 5, 5));
    height:80%;
    position: fixed;
}
.nav{
    list-style: none;
   
}

.icon-spec{
    vertical-align: text-bottom;
}