<div class="spec">
    <div class="d-flex flex-md-row">
        <div class="item ml-4" [hidden]="access">
            <div class="form-group">
                <input type="text" name="agentlogin" class="form-control" [(ngModel)]="agent.login" placeholder="Agent Login">
            </div>
            <div class="form-group">
                <input type="text" name="agentpassword" class="form-control" [(ngModel)]="agent.password" placeholder="Agent Password">
            </div>
            <div class="form-group">
                <input type="text" name="agentconfirmpassword" class="form-control" [(ngModel)]="agent.confirmpassword" placeholder="Confirm Password">
            </div>
            <button class="btn btn-primary" (click)="addagent()"> Add Agent </button>
        </div>
        
    </div>
    
</div>